@model List<WebApplication1.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var t in Model)
{
    @t.UserName  @Html.ActionLink("Delete", "delete", new { id = t.Id.ToString() })<br>
}